.theme {
  --color-01: rgba(124, 191, 129, 0.76);
  --color-02: #ffffff;
  --color-03: #626561;

  .page-wrapper {
    --header-background: var(--color-01);
    --footer-background: var(--color-03);
  }
}

//.anotherTheme {
//  --color-01: #623364;
//  --color-02: #ffffff;
//  --color-03: #655554;
//
//  .page-wrapper {
//    --header-background: var(--color-01);
//    --footer-background: var(--color-03);
//  }
//}