.question-container {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #7d807b;
  &-text {
    width: 100%;
    margin: 9px;
    font-size: 18px;
  }
  &-answers {
    width: 100%;
    margin: 9px;
  }
}