@headerHeight: 40px;
@footerHeight: 40px;

.page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &-header {
    height: @headerHeight;
    background: var(--header-background);
    padding: 10px;
  }

  &-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    .question-pos {
      margin-right: 30px;
    }
    .quiz-question {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 80%;
    }
  }

  &-footer {
    height: @footerHeight;
    background: var(--footer-background);
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  .user {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin: 8px 5px 8px 5px;
  }
}
