.result-window-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(165, 162, 180, 0.85);
  width: 100%;
  height: 100%;

  .result-window {
    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 4px;
    &_content-container {

      font-size: 25px;
    }

    &_button-container {

    }
  }


}