.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .login-box {
    width: 400px;
    height: 300px;
    border: darkgray;
    border-radius: 5px;
  }
}

